<!DOCTYPE html>

<html lang="es">

<head>

  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}ExchangeIt{% endblock %}</title>

  {% block stylesheets %}

    <link href="{{ asset('public/backend/css/bootstrap.css') }}" rel="stylesheet">

{#     <link href="{{ asset('public/backend/css/shop-homepage.css') }}" rel="stylesheet">
 #}
    <link href="{{ asset('public/backend/css/usuaris.css') }}" rel="stylesheet">

    <link href="{{ asset('public/backend/css/login.css') }}" rel="stylesheet">
    <link href="{{ asset('public/backend/css/chat.css') }}" rel="stylesheet">         

    <link href="{{ asset('public/backend/css/estilsuserllista.css') }}" rel="stylesheet"> 
     <link href="{{ asset('public/backend/css/estils.css') }}" rel="stylesheet">

     <link href="{{ asset('public/backend/css/footer.css') }}" rel="stylesheet"> 
    


    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 

    <!-- Select2 -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" /> 
    
  {% endblock %}

</head>

<body>

  {% block body %}

    {% block navigation %}

      <nav class="navbar navbar-inverse navbar-static colorlletranav" role="navigation">

        <div class="container">

          <div class="navbar-header">

            <a class="navbar-brand" href="{{ path('exchangeit_back_end_homepage') }}">ExchangeIt</a>

          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">

              {% if is_granted('ROLE_ADMIN') %}
              <li>

                <a href="{{path('exchangeit_back_end_llistaUsuaris')}}">Usuaris</a>

              </li>
            {% endif %}

              <li>

                <a href="{{path('exchangeit_back_end_llistaIdiomes')}}">Idiomes</a>

              </li>

              <li>

                <a href="{{ path('discutea_forum_homepage') }}">Traduccions</a>

              </li>

              <li>

               <a href="{{path('exchangeit_back_end_llistaCatGramatical')}}">Categories gramaticals</a><br>

             </li>

              <li>

               <a href="{{path('exchangeit_back_end_xat')}}">Xat Usuaris</a><br>

             </li>

             <li>

               <a href="{{path('exchangeit_back_end_llistaCatFamilia')}}">Categories families</a>

             </li>

             {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

              <li>

                 <a href="{{path('exchangeit_back_end_usuari_edit',{'id':app.user.id})}}"><b> {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</b></a>

              </li>

              <li>

                <a href="{{ path('fos_user_security_logout') }}">

                    <b>{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</b>

                </a>

              </li>

              {% else %}

                <li>               

                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>

              </li>

               {% endif %}

          </ul>

        </div>

      </div>

    </nav>

  {% endblock %}

  {% block page_content %}

    <div class="container-fluid">

      <div class="row">

        <div class="col-md-12">

         <h4>Idiomes</h4>
         <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget tellus sit amet leo pharetra iaculis vitae id nibh. Aliquam in est porttitor, eleifend nisi id, iaculis nunc. Curabitur et velit neque. Nam imperdiet vehicula lorem, nec convallis dolor laoreet eget. Sed quis scelerisque libero, quis pharetra metus. Vestibulum tempus non purus vel congue. Morbi non mauris tempus, venenatis eros interdum, lobortis ante. Quisque nec urna sit amet augue aliquam ornare. Sed interdum, neque et pellentesque fringilla, nibh lacus rhoncus elit, vel interdum ligula dui ut nisl. Nam non turpis ac turpis pharetra suscipit quis eu dolor. Fusce tempus risus tristique nunc varius, non semper diam mollis. Curabitur consequat in risus non gravida.

Nam sed felis diam. Aenean tincidunt ut nunc vitae tristique. In aliquam et nunc sed vulputate. Quisque rhoncus tortor eu nisi eleifend, interdum mollis massa vulputate. Nulla finibus nisl sed feugiat consequat. Phasellus feugiat mi at orci blandit varius. Donec enim magna, feugiat quis commodo non, tincidunt eu sapien. Pellentesque aliquam massa eget dapibus vehicula. Fusce lobortis bibendum lectus, sed hendrerit lorem lacinia non. Pellentesque dictum erat in dolor sollicitudin eleifend.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget tellus sit amet leo pharetra iaculis vitae id nibh. Aliquam in est porttitor, eleifend nisi id, iaculis nunc. Curabitur et velit neque. Nam imperdiet vehicula lorem, nec convallis dolor laoreet eget. Sed quis scelerisque libero, quis pharetra metus. Vestibulum tempus non purus vel congue. Morbi non mauris tempus, venenatis eros interdum, lobortis ante. Quisque nec urna sit amet augue aliquam ornare. Sed interdum, neque et pellentesque fringilla, nibh lacus rhoncus elit, vel interdum ligula dui ut nisl. Nam non turpis ac turpis pharetra suscipit quis eu dolor. Fusce tempus risus tristique nunc varius, non semper diam mollis. Curabitur consequat in risus non gravida.

Nam sed felis diam. Aenean tincidunt ut nunc vitae tristique. In aliquam et nunc sed vulputate. Quisque rhoncus tortor eu nisi eleifend, interdum mollis massa vulputate. Nulla finibus nisl sed feugiat consequat. Phasellus feugiat mi at orci blandit varius. Donec enim magna, feugiat quis commodo non, tincidunt eu sapien. Pellentesque aliquam massa eget dapibus vehicula. Fusce lobortis bibendum lectus, sed hendrerit lorem lacinia non. Pellentesque dictum erat in dolor sollicitudin eleifend.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget tellus sit amet leo pharetra iaculis vitae id nibh. Aliquam in est porttitor, eleifend nisi id, iaculis nunc. Curabitur et velit neque. Nam imperdiet vehicula lorem, nec convallis dolor laoreet eget. Sed quis scelerisque libero, quis pharetra metus. Vestibulum tempus non purus vel congue. Morbi non mauris tempus, venenatis eros interdum, lobortis ante. Quisque nec urna sit amet augue aliquam ornare. Sed interdum, neque et pellentesque fringilla, nibh lacus rhoncus elit, vel interdum ligula dui ut nisl. Nam non turpis ac turpis pharetra suscipit quis eu dolor. Fusce tempus risus tristique nunc varius, non semper diam mollis. Curabitur consequat in risus non gravida.

Nam sed felis diam. Aenean tincidunt ut nunc vitae tristique. In aliquam et nunc sed vulputate. Quisque rhoncus tortor eu nisi eleifend, interdum mollis massa vulputate. Nulla finibus nisl sed feugiat consequat. Phasellus feugiat mi at orci blandit varius. Donec enim magna, feugiat quis commodo non, tincidunt eu sapien. Pellentesque aliquam massa eget dapibus vehicula. Fusce lobortis bibendum lectus, sed hendrerit lorem lacinia non. Pellentesque dictum erat in dolor sollicitudin eleifend. </p>
        

       </div>

     </div>

   </div>
 {% endblock %}


  <!-- Footer -->

 <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 myCols">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 myCols">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 myCols">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 myCols">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="social-networks">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook-official"></i></a>
            <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
        </div>
        <div class="footer-copyright">
            <p>© 2017 ExchangeIt </p>
        </div>
    </footer>




{% endblock %}

{% block javascripts %}

  <script src="{{ asset('public/backend/js/jquery.js') }}"></script>

  <script src="{{ asset('public/backend/js/bootstrap.min.js') }}"></script>

  <script src="{{ asset('public/backend/js/scriptchat.js') }}"></script>

  <script src="{{ asset('public/backend/js/scriptfiltreuser.js') }}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script type="text/javascript">
$("selectRol").select2({
  tags: true,
  tokenSeparators: [',', ' ']
})
  </script>
  <script type="text/javascript">
  $(function() {
    $("target").sticky({
      speed: 0 // The scroll animation speed
    });
  });
  </script>

{% endblock %}

</body>

</html>





