{% extends "BackEndBundle:Default:index.html.twig " %}
{% block title %}Llista Categories Gramaticals{% endblock %}
{% block page_content %}
    <h4>{{ titol }}</h4>
    <table id="mytable" class="table table-bordred table-striped">
        <thead>
            <th>Nom</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </thead>
        <tbody>
            {% for category in catgramatical %}
                <tr>
                    <th>{{ category.nom|upper }}</th>
                    <td>
                        <p data-placement="top" data-toggle="tooltip" title="Editar">
                            <a href="{{ path('exchangeit_back_end_form_editarcatgramatical', {'id':category.id}) }}" class="btn btn-primary btn-xs" ><span class="glyphicon glyphicon-pencil"></span></a>
                        </p>
                    </td>
                    <td>
                        <p data-placement="top" data-toggle="tooltip" title="Eliminar">
                            <a href="{{ path('exchangeit_back_end_esborrarcatgramatical', {'id':category.id}) }}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
                        </p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <a href="{{ path('exchangeit_back_end_form_afegircatgramatical') }}" class="btn btn-info" role="button">Afegir Categoria Gramatical</a>
        </div>
    </div>
{% endblock %}