{% extends "BackEndBundle:Default:index.html.twig " %}
{% block title %}Llista Categories Gramaticals{% endblock %}
{% block page_content %}
    <h4 class="text-center">{{ titol }}</h4>
    <div class="container">
        <div class="row">
            {% for category in catgramatical %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="container-categories">
                        <label>Nom:</label>
                        <span>{{ category.nom|upper }}</span><br>
                        <span data-placement="top" data-toggle="tooltip" title="Editar">
                            <a href="{{ path('exchangeit_back_end_form_editarcatgramatical', {'id':category.id}) }}" class="btn btn-primary btn-xs" ><span class="glyphicon glyphicon-pencil"></span></a>
                        </span>
                        <span data-placement="top" data-toggle="tooltip" title="Eliminar">
                            <a href="{{ path('exchangeit_back_end_esborrarcatgramatical', {'id':category.id}) }}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
                        </span>
                    </div>  
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12 col-md-12 text-center boto-afegir">
                <a href="{{ path('exchangeit_back_end_form_afegircatgramatical') }}" class="btn btn-info" role="button">Afegir Categoria Gramatical</a>
            </div>
        </div>
    </div>
{% endblock %}