{% extends "BackEndBundle:Default:index.html.twig" %}
{% block title %}Editar Categoria Paraula{% endblock %}
{% block page_content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12 col-md-12">
                <h1>EDITAR CATEGORIA PARAULA</h1>
            </div>
            <div class="col-sm-12 col-lg-12 col-md-12">
                <form method="POST" action="{{ path('exchangeit_back_end_editarparaula', {'id':id}) }}">
                    <div class="form-group">
                        <input type="text" name="paraula" class="form-control" id="paraula" placeholder="Paraula" required value="{{paraula}}" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <select name="catgramatical" class="form-control" id="catgramatical">
                            {% for catgramatical in categoriagramatical %}
                                <option value="{{catgramatical.id}}">{{catgramatical.nom}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="catfamilia" class="form-control" id="catfamilia">
                            {% for catfamilia in categoriafamilia %}
                                <option value="{{catfamilia.id}}">{{catfamilia.nom}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" name="definicio" class="form-control" id="definicio" placeholder="Definició" required value="{{definicio}}" />
                        <div class="validation"></div>
                    </div>
                    <div class="text-center"><input class="btn btn-default" type="submit" name="submit" value="Guarda"></div>
                </form> 
            </div>
        </div>
    </div>
{% endblock %}
