{% extends "BackEndBundle:Default:index.html.twig" %}
{% block title %}Editar Categoria Paraula{% endblock %}
{% block page_content %}
    <!-- Page Content -->
    <div class="container fons-diccionari">
        <div class="row">
            <div class="col-sm-12 col-lg-12 col-md-12">
                <h1 class="lletra-blanca">EDITAR CATEGORIA PARAULA</h1>
            </div>
            <div class="col-sm-12 col-lg-12 col-md-12">
                <form method="POST" action="{{ path('exchangeit_back_end_editarparaula', {'id':id}) }}">
                    <div class="form-group">
                        <input type="text" name="paraula" class="form-control" id="paraula" placeholder="Paraula" required value="{{paraula}}" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <select name="catgramatical" class="form-control" id="catgramatical">
                            {% for catgramatical in categoriagramatical %}
                                {% if catgramatical.id == idCategoriaGramatical %}
                                    <option value="{{catgramatical.id}}" selected>{{catgramatical.nom}}</option>
                                {% else %}
                                    <option value="{{catgramatical.id}}">{{catgramatical.nom}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="catfamilia" class="form-control" id="catfamilia">
                            {% for catfamilia in categoriafamilia %}
                                {% if catfamilia.id == idCategoriaFamilia %}
                                    <option value="{{catfamilia.id}}" selected>{{catfamilia.nom}}</option>
                                {% else %}
                                    <option value="{{catfamilia.id}}">{{catfamilia.nom}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="idioma" class="form-control" id="idioma">
                            {% for idioma in idiomes %}
                                {% if idioma.id == idIdioma %}
                                    <option value="{{idioma.id}}" selected>{{idioma.nom}}</option>
                                {% else %}
                                    <option value="{{idioma.id}}">{{idioma.nom}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" name="definicio" class="form-control" id="definicio" placeholder="Definició" required value="{{definicio}}" />
                        <div class="validation"></div>
                    </div>
                    <div class="text-center"><input class="btn btn-default" type="submit" name="submit" value="Guarda"></div>
                </form> 
            </div>
        </div>
    </div>
{% endblock %}
