{% extends "FrontEndBundle:Default:base.html.twig" %}
{% block title %}Inici{% endblock %}
{% block content %}
	<div class="container-fluid">
        <div class="row"> 
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="{{asset('public/frontend/images/categorias.jpg')}}" alt="Categories" style="width:100%;">
                  </div>
                  <div class="item">
                    <img src="{{asset('public/frontend/images/diccionario.jpg')}}" alt="Diccionari" style="width:100%;">
                  </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Anterior</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Següent</span>
                </a>
            </div>
        </div>
    </div>
	<section id="feature" >
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Les nostres especialitats</h2>
                <p class="lead">Portem treballant en la traducció d'idiomes des de l'any 2017.</p>
            </div>
            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-language"></i>
                            <h2>Traducció de textos</h2>
                            <h3>Pots introduir un text que vulguis traduir.</h3>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-language"></i>
                            <h2>Traducció de paraules</h2>
                            <h3>Pots traduir les paraules que vulguis.</h3>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-book"></i>
                            <h2>Diccionari de vocabulari</h2>
                            <h3>Pots consultar vocabulari al diccionari.</h3>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-book"></i>
                            <h2>Correcions de textos</h2>
                            <h3>Altres usuaris poden traduir els teus textos.</h3>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-comments-o"></i>
                            <h2>Servei de missatgeria</h2>
                            <h3>Envia missatges als teus contactes.</h3>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-comments-o"></i>
                            <h2>Agenda de contactes</h2>
                            <h3>Porta una agenda amb contactes per poder contactar directament.</h3>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#feature-->
	<section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Opcions per ajudar-te a aprendre idiomes</h2>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{asset('public/frontend/images/language-book.png')}}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">The Oral Language Book</a> </h3>
                                <p>Llibre de expressió oral en anglès.</p>
                                <a class="preview" href="{{asset('public/frontend/images/language-book.png')}}" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{asset('public/frontend/images/cd-ruso.png')}}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">CD Curs d'idioma en rus</a></h3>
                                <p>Curs per aprende rus de "Planeta DeAgostini".</p>
                                <a class="preview" href="{{asset('public/frontend/images/cd-ruso.png')}}" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div> 
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{asset('public/frontend/images/exchange-country.png')}}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Intercanvi a altres països</a></h3>
                                <p>Una bona oportunitat d'aprendre idiomes, és anar d'intercanvi a altres països per a conviure amb l'idioma que es voldrà aprendre.</p>
                                <a class="preview" href="{{asset('public/frontend/images/exchange-country.png')}}" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{asset('public/frontend/images/language-class.png')}}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Classes particulars</a></h3>
                                <p>Les classes particulars són una bona manera d'aprendre idiomes amb constancia.</p>
                                <a class="preview" href="{{asset('public/frontend/images/language-class.png')}}" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#recent-works-->	
	<section id="middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 wow fadeInDown">
                    <div class="skill">
                        <h2>Les nostres especialitats</h2>                        
                        <div class="progress-wrap">
                            <h3>Traduccions de textos</h3>
                            <div class="progress">
                              <div class="progress-bar  color1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                                <span class="bar-width">95%</span>
                              </div>

                            </div>
                        </div>
                        <div class="progress-wrap">
                            <h3>Diccionari online</h3>
                            <div class="progress">
                              <div class="progress-bar color2" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                               <span class="bar-width">80%</span>
                              </div>
                            </div>
                        </div>
                        <div class="progress-wrap">
                            <h3>Missatgeria</h3>
                            <div class="progress">
                              <div class="progress-bar color3" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                <span class="bar-width">80%</span>
                              </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.col-sm-6-->
                <div class="col-sm-6 wow fadeInDown">
                    <div class="accordion">
                        <h2>Per què escollir-nos?</h2>
                        <div class="panel-group" id="accordion1">
                          <div class="panel panel-default">
                            <div class="panel-heading active">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                  Especialistes en el sector 
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseOne1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="media accordion-inner">
                                        <div class="pull-left">
                                            <img class="img-responsive" src="{{asset('public/frontend/images/accordion1.png')}}">
                                        </div>
                                        <div class="media-body">
                                             <h4>ExchangeIt</h4>
                                             <p>Treballant en el sector des de 2017</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                                  Innovació en vocabulari
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseTwo1" class="panel-collapse collapse">
                              <div class="panel-body">
                                Estem al dia dels millors online i presencials d'idiomes.
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                                  Noves tecnologies
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseThree1" class="panel-collapse collapse">
                              <div class="panel-body">
                                Disposem de material d'última tecnologia per a una interacció al més alt nivell.
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
                                 Servei 24h
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseFour1" class="panel-collapse collapse">
                              <div class="panel-body">
                                Estem a la teva disposició les 24 hores del dia.
                              </div>
                            </div>
                          </div>
                        </div><!--/#accordion1-->
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#middle-->
{% endblock %}
